input[type="submit"]{
  height: 30px;
  width: 70px;
  background-color: green;
  box-shadow: solid white 20px 20px 20px 20px;
  border-radius: 10px;
  border: 0px;
}
.text{
  width:20%;
}
button{
  background-color: #f70707e1;
  border-radius: 5px;
  border: 0px;
  box-shadow: solid white 20px 20px 20px 20px;
}
.edit{
  background-color: hsl(135, 73%, 54%);
}
.text1{
  font-family:sans-serif;
  font-size: large;
  color: #c6cbcb;
  box-shadow:solid white 20px 20px 20px 20px;
}



